<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="browser" value="IE"/>-->
  <add key="browser" value="chrome" />
  <add key="ApiDevToken" value="eyJraWQiOiJaTGJkVTczTk9YZEZCU29CZE13eWtyOTZaT2xSSWFHRWJlZGN4XC8yb2p0Zz0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI4MTA3YWRhOS04YTRjLTQ1NTYtOTM3Yy1lMjI2ZGRiMDhkZjMiLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwiaXNzIjoiaHR0cHM6XC9cL2NvZ25pdG8taWRwLnVzLXdlc3QtMi5hbWF6b25hd3MuY29tXC91cy13ZXN0LTJfM3p4Zk1GempvIiwiY29nbml0bzp1c2VybmFtZSI6InNiYWJ1IiwiYXVkIjoiMWZmNDFnaDVhaWp2OTA0amJubzMxNzU5MzEiLCJldmVudF9pZCI6IjZiNTM2Mzk4LTliNGUtNDhjMS1iZjQ2LWUwY2JiNWNlYmZjMiIsInRva2VuX3VzZSI6ImlkIiwiYXV0aF90aW1lIjoxNzQwNDY2NTA4LCJuYW1lIjoiIFN1ZGFyc2hhbiBCYWJ1IFNlZ2dhcmkiLCJleHAiOjE3NDA1NTI5MDgsImlhdCI6MTc0MDQ2NjUwOCwiZW1haWwiOiJzLnN1ZGFyc2hhbkB6ZW5zYXIuY29tIn0.ZcumTGDcWNDkjT_AHM3dDWvr_JQSc4_VaaAHqpQOyCFLHCDzZMJT5t2V2hmx_VmXcFsJ9ztxzn0U2g-lY_UdR2AFSVsfpC7JNFUHFM5A0nUhIu_77qXE1xU2vETLuXeGucT5EPKSsHTTaa7Tw8P1OaXEKgWp0qPatdnvNoC8AwiwGHM_eLQyESCjR-QG3Lk10jkUdzZaoWUoMK9Tz3A6Aeoi8ni1S_CNQV2SfUghhGpe9RlBlXSfzv-qx7gPuiFQEDzdBrqGitpvkZN-0nrJ_F1xv-mC5yR4ONaaGVli5X84_kcIl1VYKZnFNcC0ozBGsEAKp833sl5NdFCCxxUIXw"/>
  <add key="apiDevUrl" value="https://62fush641m.execute-api.us-west-2.amazonaws.com" />

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.15.0.0" newVersion="106.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Memory" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>